.vscode/c_cpp_properties.json
.vscode/settings.json
pg3401_exam25/logdata/ewa_log.txt
pg3401_exam25/logdata/ewa_data.bin
/screenshots

pg3401_exam25/logdata/ewa_log.txt
pg3401_exam25/logdata/ewa_data.bin
pg3401_exam25/**/obj/*.o
pg3401_exam25/task2_174/task2_174
pg3401_exam25/task3_174/task3_174
pg3401_exam25/task4_174/task4_174
pg3401_exam25/task4_174/task4_pg2265.hash
